/*Mystical Sunrise
#1b1b1b
#392c41
#684875
#9d58a1
#e896d3
*/

body {
    background-color: #e896d3;
    font-size: 16px;
    font-family: Ubuntu, Arial;
    color: #1b1b1b;
}

/**HEADER**/
#header-nav{
    background-color: #684875;
    align-items: center;
    padding: 0 2% 0 2%;
}

.nav-item{
    background-color: #9d58a1;
    display: grid;
    border-bottom: #1b1b1b solid 3px;
}

.break {
    height: 1px;
    width: 100%;
    color: #684875;
}

/*BODY*/
#main-header {
    width: 100%;
    text-align: center;
}


li a{
    text-align: center;
}

.content-tile {
    background-color: #9d58a1;
    border: #1b1b1b solid 3px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.content-tile h3{
    text-align: center;
} 


#menuButton {
    visibility: visible !important;
}

/*Media Queries*/
@media (min-width : 576px) {
    #menuButton {
        visibility: hidden !important;
    }
}

@media (max-width : 576px) {
    #content-meat{
        padding: 0 5% 0 5%;
    }
}

